.crops {
  display: flex;
}

.link1 , .link2{
    margin-bottom: 20px;
}

.text1 , .text2{
    margin-left: 200px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: normal;
}

.cropName {
  margin-left: 250px;
  margin-right: 100px;
  margin-top: 90px;
}

.physicalFactor {
  margin-top: 90px;
  margin-left: 20px;
}

.cropsImage {
  width: 500px;
  height: 300px;
}

.physicalImage {
  width: 500px;
  height: 300px;
}
